.cardCategoria {
    padding: 10px;
    width: 18rem;
    height: 5rem;
    margin: 1rem;
    text-align: center;
    line-height: 55px;
    /* background-color: #1abc9c;
    border-radius: 5px;
    border-style: solid;
    border-color: #ff9a16; */
}

/* .link {
    background-color: #ff9a16;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
} */
